<h1>Welcome in my Rails app</h1>
<h2>Liste de mes articles :</h2>
<div class="my-3.5">
<ul >
  <% @articles.each do |article|%>
    <li>
        <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
</div>
<%= link_to "New Article", new_article_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
